PORT=3000

DB_HOST=localhost
DB_PORT=5433
DB_NAME=petradar
DB_USERNAME=postgres
DB_PASSWORD=postgres

MAPBOX_TOKEN=your-mapbox-token

MAILER_SERVICE=gmail
MAILER_EMAIL=your-email@example.com
MAILER_PASSWORD=your-app-password
GENERIC_NOTIFICATION_EMAIL=alerts@example.com

REDIS_ENABLED=true
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL_SECONDS=60

APPLICATIONINSIGHTS_CONNECTION_STRING=
